<!DOCTYPE html>

<html lang="en">
<head>
    <title>R3 Habatan Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="../static/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/"><img id="logo" src="static/habatan.gif"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <div class="p-2">
        <h1>Habatan-Friendly Word Checker v0.1</h1>
        <p>Habatan Word Checker checks your text and returns all of the words that are <u>not in the R3 Habatan Dictionary.</u>
        <br>
        <b>NOTE:</b> This program is intended to be an assistive tool. It may miss some anomalies.
        <br>
        <b>Please exercise due diligence!</b>
        <br><br>
        Original source: <a href="https://www.hyogo-c.ed.jp/~koko-bo/13kyouzai/habatan/sub1-Habatan.html">https://www.hyogo-c.ed.jp/~koko-bo/13kyouzai/habatan/sub1-Habatan.html</a>
        </p>
        {% block body %}
        {% endblock %}
        <form action="/", method="post">
            <input type="checkbox" id="thesaurus" name="thesaurus" value="enable">
            <label for="thesaurus">Enable Thesaurus?</label>
            <button type="submit">Haba-Check</button><br>
            <textarea class="m-1" name="input" placeholder="Enter text here..."></textarea>
        </form>
    </div>

</body>
<footer>
    <h4 class="text-center">2023 by John Yee</h4>
</footer>
</html>